@{
    Layout = null;
}

<link rel="stylesheet" href="~/WebApplication_List.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="~/js/site.js" asp-append-version="true"></script>

    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <ol class="breadcrumb pull-right">
                    <li class="active">Home</li>
                </ol>
                <h3 class="page-title">
                    <i class="fa fa-home"></i>Home  
                </h3>
                <!-- END PAGE HEADER-->
                <div class="row">
                    <div class="col-xs-12 col-md-12">

                        <div class="home-box">
                            <a href="../CustomField/CustomField" title="Custom Field">
                                <img src="../../Assets/images/bharti-icons/enterprises.png" alt="CustomField" class="">
                                <div class="box-header">
                                    <h5>Custom Field</h5>
                                </div>
                            </a>
                        </div>
                        <div class="home-box">
                            <a href="../Users/UserMasterInternal" title="Users">
                                <img src="../../Assets/images/bharti-icons/working.png" alt="UserMasterInternal" class="">
                                <div class="box-header">
                                    <h5>Users</h5>
                                </div>
                            </a>
                        </div>
                        @* <div class="home-box">
                            <a href="../Accounts/Accounts" title="Account Master">
                                <img src="../../Assets/images/bharti-icons/finance.png" alt="Accounts" class="">
                                <div class="box-header">
                                    <h5>Account Master</h5>
                                </div>
                            </a>
                        </div> *@
                        <div class="home-box">
                            <a href="../DailyExpenseTracker/DailyExpenseTracker" title="Daily Expense Tracker">
                                <img src="../../Assets/images/bharti-icons/finance.png" alt="DailyExpenseTracker" class="">
                                <div class="box-header">
                                    <h5>Daily Expense Tracker</h5>
                                </div>
                            </a>
                        </div>
                        <div class="home-box">
                            <a href="../FundMovement/FundMovement" title="Fund Movement">
                                <img src="../../Assets/images/bharti-icons/finance.png" alt="FundMovement" class="">
                                <div class="box-header">
                                    <h5>Fund Movement</h5>
                                </div>
                            </a>
                        </div>
                        <div class="home-box">
                            <a href="../Loan/Loan" title="Loan">
                                <img src="../../Assets/images/bharti-icons/finance.png" alt="Loan" class="">
                                <div class="box-header">
                                    <h5>Loan</h5>
                                </div>
                            </a>
                        </div>
                        <div class="home-box">
                            <a href="../CreditCardBillBooking/CreditCardBillBooking" title="Credit Card Bill Booking">
                                <img src="../../Assets/images/bharti-icons/finance.png" alt="CreditCardBillBooking" class="">
                                <div class="box-header">
                                    <h5>Credit Card Bill Booking</h5>
                                </div>
                            </a>
                        </div>
                        <div class="home-box">
                            <a href="../PaymentInflow/PaymentInflow" title="Payment Inflow">
                                <img src="../../Assets/images/bharti-icons/finance.png" alt="PaymentInflow" class="">
                                <div class="box-header">
                                    <h5>Payment Inflow</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>

        
        </style>



