@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div >
        <label>Username</label>
        <input id="Text1" type="text" />
        <label>Password</label>
        <input id="Text2" type="text" />
    </div>

</div>
